<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>

<table border="1">User table
    <thead>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <p th:text="${user.getId()}">VALUE</p>
        <p th:text="${user.getFirstName()}">VALUE</p>
        <p th:text="${user.getLastName()}">VALUE</p>
        <p th:text="${user.getEmail()}">VALUE</p>

    </tr>
    </tbody>
</table>
<br/>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out"/>
</form>
</body>
</html>