<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>

<table border="1">User table
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${user.getId()}"/>
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td th:text="${user.getRoles()}"/>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign out"/>
</form>
</body>
</html>